<!-- <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-icon>flare</mat-icon>

    <div class="spacer"></div>

    <a mat-button>Home</a>
    <a mat-button routerLink="chart">Charts</a>
    <a mat-button routerLink="nfts">NFT portfolio</a>
</mat-toolbar> -->

<mat-sidenav-container>
  <mat-sidenav color="primary" opened mode="side" class="mat-elevation-z3">
    <div>
      <img src="assets/logo/logo.jpg" alt="logo" style="width:80px;max-height:100px;">
    </div>
    <mat-list>
      <mat-list-item><a class="nav-button" mat-button routerLink="home">Home</a></mat-list-item>
      <mat-divider class="mat-divider"></mat-divider>
      <mat-list-item><a class="nav-button" mat-button routerLink="nfts">NFT portfolio</a></mat-list-item>
      <mat-divider class="mat-divider"></mat-divider>
      <mat-list-item><a class="nav-button" mat-button routerLink="livefloorprice">Live FloorPrice</a></mat-list-item>
      <mat-divider class="mat-divider"></mat-divider>
      <mat-list-item><a class="nav-button" mat-button routerLink="child">Child Test</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>