<div class="main-container">
    <div>
        <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    </div>
    <div class="main-nft-section">
        <div class="nft-section" *ngFor="let nft of nfts">
            <div class="nft-container" *ngIf="searchText === '' || nft.name.toLowerCase().includes(searchText) ">
                <div class="nft-card">
                    <div>
                        <img [src]="nft.image" style="max-width:180px">
                    </div>
                    <div class="nft-name"><h3>{{ nft.name }}</h3></div>
                    <!-- <div>
                        <h4>Price: {{ nft.price }}</h4>
                    </div> -->
                    <button mat-raised-button routerLink="/detail/{{nft.id}}">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>