.main-container {
    padding: 50px;
    color: white;
    background-color: #0B0C10;
    height: 100%;

}

.main-nft-section  {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.nft-container {
    display: inline-flex;
    margin: 1rem;
    margin-bottom: 2rem;
    border-style: solid;
    border-width: 2px;
    border-color: #66FcF1;
    border-radius: 10px;
    background-color: #1F2833;
}

.nft-card {
    margin: 20px 20px;
    text-align: center;

}

button{
    color: #E30B5D;
}



