<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="All" [(ngModel)]='selectedRadioButtonValue'>
    <span>{{'All Nfts('+allNfts+')'}}</span>

    <input type="radio" name="filter" value="Low" [(ngModel)]="selectedRadioButtonValue">
    <span>{{'Low Price('+lowPrice+')'}}</span>

    <input type="radio" name="filter" value="Medium" [(ngModel)]="selectedRadioButtonValue">
    <span>{{'Medium Price('+mediumPrice+')'}}</span>

    <input type="radio" name="filter" value="High" [(ngModel)]="selectedRadioButtonValue">
    <span>{{'High Price('+highPrice+')'}}</span>


</div>