<div class="home-container">
  <div class="mall-slide">
    <div class="slid-content">
        <div class="mall-show-slide fade" *ngFor="let item of imageData;">
            <img src="{{item}}" style="width:100%">
        </div>
        <div class="mall-carousel-ind">
            <ul>
                <li *ngFor="let item of imageData; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
            </ul>
        </div>
    </div>
    <div class="subject-container">
      <h1>All In One</h1>
      <h1>NFT</h1>
      <h1>Tracker</h1>
      <button mat-raised-button [routerLink]="['/nfts']">Track <span>YOUR</span> portfolio <span>NOW</span></button>
    </div>
  </div>
  
</div>